bin/
obj/
out/

*.user
*.suo
*.sln.docstates
*.vs/

wwwroot/
publish/
node_modules/

appsettings.Development.json
appsettings.Local.json
secrets.json
.env

.vscode/
*.log
*.DS_Store
Thumbs.db

packages/
project.lock.json
