<div class="contact-add-container">
  <h2>Add Contact</h2>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        }"
      />
      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
        class="error-message"
      >
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input
        type="text"
        id="surname"
        formControlName="surname"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            contactForm.get('surname')?.invalid &&
            contactForm.get('surname')?.touched
        }"
      />
      <div
        *ngIf="
          contactForm.get('surname')?.invalid &&
          contactForm.get('surname')?.touched
        "
        class="error-message"
      >
        Surname is required
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            contactForm.get('email')?.invalid &&
            contactForm.get('email')?.touched
        }"
      />
      <div
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
        class="error-message"
      >
        Email is required
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input
        type="tel"
        id="phoneNumber"
        formControlName="phoneNumber"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            contactForm.get('phoneNumber')?.invalid &&
            contactForm.get('phoneNumber')?.touched
        }"
      />
      <div
        *ngIf="
          contactForm.get('phoneNumber')?.invalid &&
          contactForm.get('phoneNumber')?.touched
        "
        class="error-message"
      >
        Phone number is required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            contactForm.get('password')?.invalid &&
            contactForm.get('password')?.touched
        }"
      />
      <div
        *ngIf="
          contactForm.get('password')?.invalid &&
          contactForm.get('password')?.touched
        "
        class="error-message"
      >
        Password must be at least 6 characters long
      </div>
    </div>

    <div class="form-group">
      <label for="birthDate">Birth Date</label>
      <input
        id="birthDate"
        type="date"
        formControlName="birthDate"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select id="category" formControlName="category" class="form-control">
        <option
          *ngFor="let category of categories?.categories"
          [value]="category.name"
        >
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="showSubcategory">
      <label for="subcategory">Subcategory</label>

      <select
        *ngIf="isBusinessCategory"
        id="subcategory"
        formControlName="subcategory"
        class="form-control"
      >
        <option
          *ngFor="let subcategory of subcategories?.subcategories"
          [value]="subcategory.name"
        >
          {{ subcategory.name }}
        </option>
      </select>

      <input
        *ngIf="isOtherCategory"
        id="subcategory"
        formControlName="subcategory"
        class="form-control"
      />
    </div>

    <div class="button-group">
      <button type="submit" class="btn-save" [disabled]="contactForm.invalid">
        Save
      </button>
      <button type="button" class="btn-cancel" [routerLink]="['']">
        Cancel
      </button>
    </div>
  </form>
</div>
